{% extends 'base.html.twig' %}

{% block header %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block body%}
        <main>
        <div class="container">

        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                <div class="d-flex justify-content-center py-4">
                    <a href="index.html" class="logo d-flex align-items-center w-auto">
                    <img src="assets/img/logo.png" alt="">
                    <span class="d-none d-lg-block">Agrifarme</span>
                    </a>
                </div><!-- End Logo -->

                <div class="card mb-3">
                        {% include 'flash.html.twig' %}

                    <div class="card-body">

                    <div class="pt-4 pb-2">
                        <h5 class="card-title text-center pb-0 fs-4">Connectez-vous à votre compte</h5>
                        <p class="text-center small">Entrez votre Email & votre mot de passe</p>
                    </div>

                    <form class="row g-3 needs-validation" novalidate method="post" >
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                            </div>
                        {% endif %}

                        <div class="col-12">
                        <label for="yourEmail" class="form-label">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                        <div class="invalid-feedback">Veuillez entrer un email valide</div>
                        </div>

                        <div class="col-12">
                        <label for="yourPassword" class="form-label">mot de passe</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required minlength="8">
                        <div class="invalid-feedback">Le mot de passe doit contenir au moins 8 caractères</div>
                        </div>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >

                        <div class="col-12">
                        <a href="{{path('forgotten_password')}}">Mot de passe oublié?</a>
                        </div>

                        <div class="col-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe">
                                <label class="form-check-label" for="rememberMe">Se souvenir de moi</label>
                            </div>
                        </div>
                        
                        <div class="col-12">
                        <button class="btn btn-primary w-100" type="submit">Connexion</button>
                        </div>
                        <div class="col-12">
                        <p class="small mb-0">Vous n'avez pas de compte? <a href="{{ path('app_register') }}">Créer un compte</a></p>
                        </div>
                    </form>

                    </div>
                </div>

                </div>
            </div>
            </div>

        </section>

        </div>
        </main><!-- End #main -->
        <script>
                
            (function () {
                'use strict';

                var forms = document.querySelectorAll('.needs-validation');

                Array.prototype.slice.call(forms).forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            })();
        </script>

{% endblock %}

