{% extends 'base.html.twig' %}

{% block header %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block body %}
<h1>User Details</h1>
<p><strong>ID:</strong> {{ user.id }}</p>
<p><strong>Email:</strong> {{ user.email }}</p>
<p><strong>Roles:</strong> {{ user.roles|join(', ') }}</p>

<a href="{{ path('admin_user_edit', {'id': user.id}) }}">Edit</a>
<a href="{{ path('admin_user_index') }}">Back to list</a>
{% endblock %}
