{% extends 'base_front.html.twig' %}
{% block n_page %}Farm{% endblock %}

{% block body %}
<style>
    /* Custom CSS for the addition column */
.cursor-pointer {
    cursor: pointer;
}

.bg-secondary {
    background-color: #6c757d; /* Bootstrap's secondary color */
    transition: background-color 0.3s ease;
}

.bg-secondary:hover {
    background-color: #5a6268; /* Darker shade on hover */
}
</style>


<div class="container-fluid bg-light bg-icon py-6">
    <div class="container">
        <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="display-5 mb-3">Choose a Farm</h1>
            <p>explication</p>
        </div>
        <div class="row g-4 justify-content-center">
            {% for f in tab %}
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="bg-white  h-100 p-4 p-xl-5 position-relative">
                    <button class="btn btn-danger btn-sm position-absolute top-0 end-0 m-2" data-href="{{ path('delete_farm',{'id':f.id}) }}" onclick="window.location.href=this.getAttribute('data-href')" style="z-index: 10;">
                        <i class="fas fa-times"></i>
                    </button>
                    <img class="img-fluid mb-4 d-block mx-auto" src="{{ asset('front/img/icon-1.png')}}" alt="">
                    <h4 class="mb-3 text-center">{{ f.name }}</h4>
                    <p class="mb-4"><strong>Adress: </strong>{{f.adress}}</p>
                    <p class="mb-4"><strong>surface: </strong>{{f.surface}}</p>
                    <p class="mb-4"><strong>Budget: </strong>{{f.budget}}dt</p>

                    <p class="mb-4">{{f.description}}</p>

                    <a class="btn btn-outline-primary border-2 py-2 px-4 rounded-pill" href="{{path('list',{'id':f.id})}}">Show details</a>
                    <a class="btn btn-outline-secondary border-2 py-2 px-4 rounded-pill" href="{{path('farm_update',{'id':f.id})}}" >Modify</a>
                </div>
            </div>
            {% endfor %}

            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="bg-primary text-center h-100 p-4 p-xl-5 d-flex align-items-center justify-content-center cursor-pointer" data-href="{{ path('farm') }}" onclick="window.location.href=this.getAttribute('data-href')">
                    <h1 class="text-white mb-0">+</h1>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}