{% extends 'front/base-front.html.twig' %}

{% block body %}

{% block n_page %}Farm{% endblock %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-7 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
            <div class="card shadow-sm p-4"> <!-- Added card for framing -->
                {{ form_start(form, {'attr': {'class': 'row g-3','novalidate':'novalidate'}}) }}
                <h2 class="form-title">Please give us your farm coordinates</h2>

                <!-- Animated Columns -->
                <div class="col-md-6 wow fadeInLeft" data-wow-delay="0.3s">
                    <div class="form-floating">
                        {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Your Name'}}) }}
                        {{ form_label(form.name, 'Your Name', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_errors(form.name) }} {# Display validation errors #}
                    </div>
                </div>

                <div class="col-md-6 wow fadeInRight" data-wow-delay="0.3s">
                    <div class="form-floating">
                        {{ form_widget(form.location, {'attr': {'class': 'form-control', 'placeholder': 'Farm Location'}}) }}
                        {{ form_label(form.location, 'Farm Location', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_errors(form.location) }} {# Display validation errors #}
                    </div>
                </div>

                <div class="col-12 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="form-floating">
                        {{ form_widget(form.surface, {'attr': {'class': 'form-control', 'placeholder': 'Surface Area'}}) }}
                        {{ form_label(form.surface, 'Surface Area', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_errors(form.surface) }} {# Display validation errors #}
                    </div>
                </div>

                <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.5s">
                    {{ form_widget(form.create, {'attr': {'class': 'btn btn-primary rounded-pill py-3 px-5', 'value':'Update'}}) }}
                </div>

                {{ form_end(form) }}
            </div> <!-- End of card -->
        </div>
    </div>
</div>

{% endblock %}
