{% extends 'base.html.twig' %}

{% block title %}Edit Article: {{ article.title }}{% endblock %}

{% block body %}
    <div class="container py-6">
        <h1 class="text-center mb-5">Edit Article: {{ article.title }}</h1>

        <div class="row justify-content-center">
            <div class="col-md-8">
                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_label(form.title) }}
                    {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.content) }}
                    {{ form_widget(form.content, {'attr': {'class': 'form-control', 'rows': 5}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.featuredText) }}
                    {{ form_widget(form.featuredText, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.featuredImage) }}
                    {{ form_widget(form.featuredImage, {'attr': {'class': 'form-control'}}) }}
                </div>
                <button type="submit" class="btn btn-primary btn-block">Update</button>
                {{ form_end(form) }}
            </div>
        </div>

        <div class="text-center mt-4">
            <a href="{{ path('article_show', {'id': article.id}) }}" class="btn btn-secondary">Back to Article</a>
        </div>
    </div>
{% endblock %}